.sidebar {
  display: flex;
  flex-direction: column;
}

.perfil {
  padding: 2rem;
  height: 292px;
  width: 348px;
}

.detalhes {
  padding: 2rem;
  height: 348px;
  width: 348px;
  display: flex;
  flex-direction: column;
}